{% extends 'empty.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<style>
    body {
        background-image: url("/static/main/img/math.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .form .field {
    position: relative;
    margin-top: 10px;
    border-radius: 6px;
    }
</style>
<div class="form signup container">
    <div class="form-content" style="display: flex; justify-content: center; margin-top: 150px;">
        <div style="background-color: #ebebeb; width: 600px; height: 300px; display: flex; justify-content: center; border-radius: 30px 30px 30px 30px; -moz-box-shadow: 0 0 6px #000;-webkit-box-shadow: 0 0 6px #000;">
            <form action="{% url 'password_reset' %}" method="POST">
                {% csrf_token %}
                <h1 style="text-align: center; margin-top: 20px;">Құпиясөзді қалпына келтіру</h1>
                <label for="email" style="margin-top: 20px;">Электрондық пошта</label>
                <div class="field input-field" style="width: 530px;">
                    <input type="email" name="email" placeholder="Электрондық пошта" class="form-control" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" style="position: relative; left: 0px; width: 530px; height: 40px; margin-top: 20px;">Алға</button>
                {% if error %}
                <div class="error">
                    {{ error }}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}