{% extends 'empty.html' %}
{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<img src="{% static 'main/img/math.jpg' %}" alt="math" style="position: absolute;width: 100%; height: 945px;filter: blur(6px);">
<div style="background-color: #ebebeb; width: 420px; height: 280px; position: absolute; top: 90px; left: 750px;border-radius: 30px 30px 30px 30px;-moz-box-shadow: 0 0 6px #000;-webkit-box-shadow: 0 0 6px #000;transition: all 0.3s ease-out;"></div>
    <form action="{% url 'password_reset' %}" style="text-align: center;top: 100px; position: relative;">
        <br>
        <h1 style="text-align: center; font-size: 30px;">Құпиясөзді қалпына келтіру</h1>
        <br>
        <p style="position: relative; left: -140px;">Email</p>
        {{ form.email }}<br><br>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Алға</button>
    </form>
{% endblock %}