{% extends 'layout.html' %}
{% load static %}

{% block title %}11 - сынып{% endblock %}

{% block content %}
<style>
    .mainmenu1 {
        position: relative;
        height: 70px;
        width: 1450px;
        background: #ffffff;
        -moz-box-shadow: 0 0 2px #1226de;
        -webkit-box-shadow: 0 0 2px #1226de;
        box-shadow: 0 0 2px #1226de;
        border-radius: 10px 10px 10px 10px;
    }
    .mainmenu2 {
        position: relative;
        height: 70px;
        width: 1450px;
        background: #ffffff;
        -moz-box-shadow: 0 0 2px #7d7d7d;
        -webkit-box-shadow: 0 0 2px #7d7d7d;
        box-shadow: 0 0 2px #7d7d7d;
        border-radius: 10px 10px 10px 10px;
    }
</style>
<div style="position: relative; width: 1500px; height: 150px; top: 140px; left: 225px; background-color: #1226de; border-radius: 20px 20px 20px 20px;">
    <h1 style="position: absolute; top: 20px; left: 700px; color: #ffffff;">11 - сынып</h1>
    <div class="dropdown" style="position: relative; top: 50px; left: 20px; list-style: none;">
        <button class="dropbtn" style="background-color: #1226de; color: #ffffff">Пәндер</button>
        <div class="dropdown-content">
            <a href="{% url 'preza11' %}"><li>Алгебра</li></a>
        </div>
    </div>
    <div style="position: relative; width: 140px; height: 35px; background-color: #ffffff; top: 7px; left: 190px; border-radius: 10px 10px 10px 10px;">
        <p style="position: relative; top: 2px; left: 30px; font-size: 20px; color: blue">Алгебра</p>
    </div>
    <div style="position: relative; width: 150px; height: 35px; background-color: #ffffff; top: -28px; left: 390px; border-radius: 10px 10px 10px 10px;">
        <p style="position: relative; top: 2px; left: 15px; font-size: 20px; color: blue; text-decoration: none;">Презентация</p>
    </div>
</div>
{% if user.subscribe_date|date:"Y-m-d" >= user.last_login|date:"Y-m-d" %}
<div style="position: relative; top: 170px; left: 225px; height: 930px; width: 1500px; background: #f2f2f2; border-radius: 20px 20px 20px 20px;">
    <p style="position: relative; top: 20px; left: 20px; font-size: 20px;">Барлық материал ашық</p>
    <!--    1-->
    <div class="mainmenu1" style="position: relative; top: 30px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">1</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Алғашқы функция және анықталмаған интеграл</p>
        <a href="{% static 'main/rar/11synyp/1Алғашқы функция және анықталмаған интеграл.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    2-->
    <div class="mainmenu1" style="position: relative; top: 40px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">2</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Алғашқы функция және интеграл</p>
        <a href="{% static 'main/rar/11synyp/2Алғашқы функция және интеграл.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    3-->
    <div class="mainmenu1" style="position: relative; top: 50px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">3</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Интегралдау тәсілдері</p>
        <a href="{% static 'main/rar/11synyp/3Интегралдау тәсілдері.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    4-->
    <div class="mainmenu1" style="position: relative; top: 60px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">4</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Қисықсызықты трапеция және оның ауданы</p>
        <a href="{% static 'main/rar/11synyp/4Қисықсызықты трапеция және оның ауданы.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    5-->
    <div class="mainmenu1" style="position: relative; top: 70px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">5</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Анықталған интегралдың геометриялық және физикалық есептерді шығаруда қолданылуы</p>
        <a href="{% static 'main/rar/11synyp/5Анықталған интегралдың геометриялық және физикалық есептерді.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    6-->
    <div class="mainmenu1" style="position: relative; top: 80px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">6</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Анықталған интегралдың қолданылуы</p>
        <a href="{% static 'main/rar/11synyp/6Анықталған интегралдың қолданылуы.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    7-->
    <div class="mainmenu1" style="position: relative; top: 90px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">7</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Анықталған интеграл және оның қасиеттері</p>
        <a href="{% static 'main/rar/11synyp/7Анықталған интеграл және оның қасиеттері.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    8-->
    <div class="mainmenu1" style="position: relative; top: 100px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">8</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Бас жиын және таңдама</p>
        <a href="{% static 'main/rar/11synyp/8Бас жиын және таңдама.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    9-->
    <div class="mainmenu1" style="position: relative; top: 110px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">9</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Дискретті және интервалды вариациялық қатарлар</p>
        <a href="{% static 'main/rar/11synyp/9Дискретті және интервалды вариациялық қатарлар.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    10-->
    <div class="mainmenu1" style="position: relative; top: 120px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">10</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Кездейсоқ шаманың сандық сипаттамаларын таңдамалар бойынша</p>
        <a href="{% static 'main/rar/11synyp/10Кездейсоқ шаманың сандық сипаттамаларын таңдамалар бойынша.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
</div>
{% elif user.subscribe_date|date:"Y-m-d" <= user.last_login|date:"Y-m-d" %}
<div style="position: relative; top: 170px; left: 225px; height: 930px; width: 1500px; background: #f2f2f2; border-radius: 20px 20px 20px 20px;">
    <p style="position: relative; top: 20px; left: 20px; font-size: 20px;">Тегін материал: 1</p>
    <!--    1-->
    <div class="mainmenu1" style="position: relative; top: 30px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">1</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Алғашқы функция және анықталмаған интеграл</p>
        <a href="{% static 'main/rar/11synyp/1Алғашқы функция және анықталмаған интеграл.rar' %}"  style="position: relative; top: -93px; left: 1320px;" class="btn btn-success">Скачать</a>
    </div>
    <!--    2-->
    <div class="mainmenu2" style="position: relative; top: 40px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">2</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Алғашқы функция және интеграл</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    3-->
    <div class="mainmenu2" style="position: relative; top: 50px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">3</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Интегралдау тәсілдері</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    4-->
    <div class="mainmenu2" style="position: relative; top: 60px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">4</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Қисықсызықты трапеция және оның ауданы</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    5-->
    <div class="mainmenu2" style="position: relative; top: 70px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">5</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Анықталған интегралдың геометриялық және физикалық есептерді шығаруда қолданылуы</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    6-->
    <div class="mainmenu2" style="position: relative; top: 80px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">6</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Анықталған интегралдың қолданылуы</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    7-->
    <div class="mainmenu2" style="position: relative; top: 90px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">7</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Анықталған интеграл және оның қасиеттері</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    8-->
    <div class="mainmenu2" style="position: relative; top: 100px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">8</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Бас жиын және таңдама</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    9-->
    <div class="mainmenu2" style="position: relative; top: 110px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">9</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Дискретті және интервалды вариациялық қатарлар</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
    <!--    10-->
    <div class="mainmenu2" style="position: relative; top: 120px; left: 20px;">
        <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
            <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">10</p>
        </div>
        <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Кездейсоқ шаманың сандық сипаттамаларын таңдамалар бойынша</p>
        <a class="btn btn-secondary disabled" style="position: relative; top: -93px; left: 1320px;" role="button" aria-disabled="true">Скачать</a>
    </div>
</div>
{% endif %}
<div style="position: relative; top: 250px; background-color: #1226de; width: 100%; height: 200px;">
    <h1 style="position: absolute; top: 20px; left: 420px; color: white; font-weight: bold; font-size: 46px;">Mathem</h1>
    <a href="http://wa.me/77083387108" style="position: absolute; top: 80px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Разработчик</a>
    <a href="http://wa.me/77066652841" style="position: absolute; top: 115px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Администратор</a>
    <a href="{% url 'quiz' %}" style="position: absolute; left: 930px; top: 60px; text-decoration: none; color: #fff; font-size: 20px;">Квиз ойындары</a>
    <a href="{% url 'onlinetaq' %}" style="position: absolute; left: 930px; top: 126px; text-decoration: none; color: #fff; font-size: 20px;">Онлайн тақталар</a>
    <a href="{% url '1' %}" style="position: absolute; left: 930px; top: 27px; text-decoration: none; color: #fff; font-size: 20px;">Басты бет</a>
    <a href="{% url 'synyptar' %}" style="position: absolute; left: 930px; top: 93px; text-decoration: none; color: #fff; font-size: 20px;">Анимация</a>
    <div style="position: relative; top: 15px;">
        <img src="{% static 'main/img/instagram.png' %}" alt="inst" style="width: 30px; position: absolute; top: 18px; left: 1360px;">
        <a href="https://www.instagram.com/mathem.2017?igsh=MTI3Z2p2YzM4NjdsMA==" style="position: relative; top: 15px; left: 1400px; text-decoration: none; color: #fff; font-size: 21px;">mathem.2017</a>
        <img src="{% static 'main/img/tiktok.png' %}" alt="tt" style="width: 45px; position: absolute; top: 55px; left: 1352px;">
        <a href="https://www.tiktok.com/@mathematics_platform?_t=8pFsiXsJ79K&_r=1" style="position: relative; top: 59px; left: 1270px; text-decoration: none; color: #fff; font-size: 21px;">mathem.kz</a>
        <img src="{% static 'main/img/telegram.png' %}" alt="tt" style="width: 38px; position: absolute; top: 100px; left: 1357px;">
        <a href="https://t.me/kzmathemkz" style="position: relative; top: 101px; left: 1165px; text-decoration: none; color: #fff; font-size: 21px;">mathem.chat</a>
    </div>
</div>
{% endblock %}