{% extends 'layout.html' %}
{% load static %}

{% block title %}9 - сынып{% endblock %}

{% block content %}
<style>
    .mainmenu1 {
        position: relative;
        height: 70px;
        width: 1450px;
        background: #ffffff;
        -moz-box-shadow: 0 0 2px #1226de;
        -webkit-box-shadow: 0 0 2px #1226de;
        box-shadow: 0 0 2px #1226de;
        border-radius: 10px 10px 10px 10px;
    }
</style>
<div style="position: relative; width: 1500px; height: 150px; top: 140px; left: 225px; background-color: #1226de; border-radius: 20px 20px 20px 20px;">
    <h1 style="position: absolute; top: 20px; left: 700px; color: #ffffff;">9 - сынып</h1>
    <div class="dropdown" style="position: relative; top: 50px; left: 20px; list-style: none;">
        <button class="dropbtn" style="background-color: #1226de; color: #ffffff">Пәндер</button>
        <div class="dropdown-content">
            <a href="{% url 'qmtoq9' %}"><li>Алгебра</li></a>
        </div>
    </div>
    <div style="position: relative; width: 140px; height: 35px; background-color: #ffffff; top: 7px; left: 190px; border-radius: 10px 10px 10px 10px;">
        <p style="position: relative; top: 2px; left: 30px; font-size: 20px; color: blue">Алгебра</p>
    </div>
    <div style="position: relative; width: 80px; height: 35px; background-color: #ffffff; top: -28px; left: 390px; border-radius: 10px 10px 10px 10px;">
        <p style="position: relative; top: 2px; left: 15px; font-size: 20px; color: blue; text-decoration: none;">ҚМЖ</p>
    </div>
</div>
{% if user.subscribe_date|date:"Y-m-d" >= user.last_login|date:"Y-m-d" %}
<div style="position: relative; top: 170px; left: 225px; height: 2000px; width: 1500px; background: #f2f2f2; border-radius: 20px 20px 20px 20px;">
    <p style="position: relative; top: 20px; left: 50px; font-size: 20px;">Барлық материал ашық</p>
    <div style="position: relative; top: 20px; left: 50px; height: 1877px; width: 1400px; background: #fff; border: 2px solid black;">
        <div style="position: relative; font-size: 24px; left: 20px; top: 10px;">
            <div style="position: absolute; height: 64px; width: 0px; left: 50px; top: -11px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 64px; width: 0px; left: 380px; top: -11px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 64px; width: 0px; left: 900px; top: -11px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 64px; width: 0px; left: 1100px; top: -11px; border: 1px solid black;"></div>
            <p>№</p>
            <p style="position: absolute; left: 120px; top: 0px;">Сабақ тақырыбы</p>
            <p style="position: absolute; left: 560px; top: 0px;">Оқу мақсаттары</p>
            <p style="position: absolute; left: 940px; top: 0px;">Сағат саны</p>
            <p style="position: absolute; left: 1200px; top: 0px;">Скачать</p>
        </div>
        <div>
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 10px; border: 2px solid black; text-align: center;">
                <p style="position: relative; top: 10px; font-size: 42px;">1 тоқсан</p>
                <p style="position: relative; top: 10px; font-size: 24px;">Екі айнымалысы бар теңдеулер, теңсіздіктер, және олардың жүйелері</p>
            </div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 70px; top: 210px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 400px; top: 210px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 920px; top: 210px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 1120px; top: 210px; border: 1px solid black;"></div>
            <!--1-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 8px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">1</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">8-сыныптағы алгебра</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">курсын қайталау</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">8.2.2.3 - квадрат теңдеулерді шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/1 сабак 8 сыныпты қайталау.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--2-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 6px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">2</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңдеулер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">және олардың жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.1 - екі айнымалысы бар сызықтық және</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">сызықтық емес теңдеулерді ажырату</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/2-10 сабак 9.2.2.1-9.4.2.1-9.4.3.1.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--3-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 4px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">3</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңдеулер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">және олардың жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.2 - екі айнымалысы бар сызықтық</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">емес теңдеулер жүйесін шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/2-10 сабак 9.2.2.1-9.4.2.1-9.4.3.1.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--4-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 2px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">4</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңдеулер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">және олардың жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.4.2.1 - мәтінді есептерді теңдеулер</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">жүйелері арқылы шығару</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">9.4.3.1 - есеп шарты бойынша математикалық</p>
                <p style="position: absolute; top: 105px; left: 410px; font-size: 24px;">модель құру</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/2-10 сабак 9.2.2.1-9.4.2.1-9.4.3.1.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--5-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 0px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">5</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">теңсіздіктер</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.3 - екі айнымалысы бар теңсіздіктерді</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/11-14 сабак 9.2.2.3-9.2.2.4.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--6-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -2px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">6</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңсіздіктер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.4 - екі айнымалысы бар сызықтық емес</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">теңсіздіктер жүйесін шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/11-14 сабак 9.2.2.3-9.2.2.4.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--7-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -4px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">7</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаториканың негізгі</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">ұғымдары мен ережелері</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">(қосу және көбейту</p>
                <p style="position: absolute; top: 105px; left: 80px; font-size: 24px;">ережелері)</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.1 - комбинаториканың  ережелерін білу</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">(қосу және көбейту ережелері)</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">9.3.1.2 - cанның факториалы анықтамасын</p>
                <p style="position: absolute; top: 105px; left: 410px; font-size: 24px;">білу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/15-17 сабак 9.3.1.1-2-3-4.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--8-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -6px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">8</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаториканың негізгі</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">ұғымдары мен ережелері</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">(қосу және көбейту</p>
                <p style="position: absolute; top: 105px; left: 80px; font-size: 24px;">ережелері)</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.3 - қайталанбайтын орналастыру,</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">алмастыру  және теру  анықтамаларын</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">білу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/15-17 сабак 9.3.1.1-2-3-4.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--9-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -8px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">9</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаториканың негізгі</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">ұғымдары мен ережелері</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">(қосу және көбейту</p>
                <p style="position: absolute; top: 105px; left: 80px; font-size: 24px;">ережелері)</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.4 - қайталанбайтын орналастыру,</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">алмастыру және теру сандарын есептеу</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">үшін комбинаторика формулаларын білу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/15-17 сабак 9.3.1.1-2-3-4.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--10-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -10px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 15px; font-size: 34px;">10</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаторика</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">формулаларын қолданып</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">есептер шешу</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.5 - қайталанбайтын орналастыру,</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">алмастыру және теру сандарын есептеу үшін</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">комбинаторика формулаларын қолдана</p>
                <p style="position: absolute; top: 105px; left: 410px; font-size: 24px;">отырып есептер шығару</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/18-19 сабак 9.3.1.5.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--11-->
            <div style="position: relative; height: 185px; width: 1400px; left: -2px; top: -12px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 15px; font-size: 34px;">11</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Ньютон биномы және оның</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">қасиеттері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.6 - Ньютон биномы формуласын және</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">оның қасиеттерін білу және қолдану</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/20-24 сабак 9.3.1.6.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
        </div>
    </div>
</div>
{% elif user.subscribe_date|date:"Y-m-d" <= user.last_login|date:"Y-m-d" %}
<div style="position: relative; top: 170px; left: 225px; height: 2000px; width: 1500px; background: #f2f2f2; border-radius: 20px 20px 20px 20px;">
    <p style="position: relative; top: 20px; left: 50px; font-size: 20px;">Тегін материал: 1</p>
    <div style="position: relative; top: 20px; left: 50px; height: 1877px; width: 1400px; background: #fff; border: 2px solid black;">
        <div style="position: relative; font-size: 24px; left: 20px; top: 10px;">
            <div style="position: absolute; height: 64px; width: 0px; left: 50px; top: -11px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 64px; width: 0px; left: 380px; top: -11px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 64px; width: 0px; left: 900px; top: -11px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 64px; width: 0px; left: 1100px; top: -11px; border: 1px solid black;"></div>
            <p>№</p>
            <p style="position: absolute; left: 120px; top: 0px;">Сабақ тақырыбы</p>
            <p style="position: absolute; left: 560px; top: 0px;">Оқу мақсаттары</p>
            <p style="position: absolute; left: 940px; top: 0px;">Сағат саны</p>
            <p style="position: absolute; left: 1200px; top: 0px;">Скачать</p>
        </div>
        <div>
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 10px; border: 2px solid black; text-align: center;">
                <p style="position: relative; top: 10px; font-size: 42px;">1 тоқсан</p>
                <p style="position: relative; top: 10px; font-size: 24px;">Екі айнымалысы бар теңдеулер, теңсіздіктер, және олардың жүйелері</p>
            </div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 70px; top: 210px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 400px; top: 210px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 920px; top: 210px; border: 1px solid black;"></div>
            <div style="position: absolute; height: 1665px; width: 0px; left: 1120px; top: 210px; border: 1px solid black;"></div>
            <!--1-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 8px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">1</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">8-сыныптағы алгебра</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">курсын қайталау</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">8.2.2.3 - квадрат теңдеулерді шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a href="{% static 'main/docx/9synyp/1 сабак 8 сыныпты қайталау.docx' %}" class="btn btn-success" style="position: absolute; top: 10px; left: 1210px;">Скачать</a>
            </div>
            <!--2-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 6px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">2</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңдеулер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">және олардың жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.1 - екі айнымалысы бар сызықтық және</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">сызықтық емес теңдеулерді ажырату</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--3-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 4px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">3</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңдеулер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">және олардың жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.2 - екі айнымалысы бар сызықтық</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">емес теңдеулер жүйесін шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--4-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 2px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">4</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңдеулер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">және олардың жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.4.2.1 - мәтінді есептерді теңдеулер</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">жүйелері арқылы шығару</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">9.4.3.1 - есеп шарты бойынша математикалық</p>
                <p style="position: absolute; top: 105px; left: 410px; font-size: 24px;">модель құру</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--5-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: 0px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">5</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">теңсіздіктер</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.3 - екі айнымалысы бар теңсіздіктерді</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--6-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -2px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">6</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Екі айнымалысы бар</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">сызықтық емес теңсіздіктер</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">жүйелері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.2.2.4 - екі айнымалысы бар сызықтық емес</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">теңсіздіктер жүйесін шешу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--7-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -4px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">7</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаториканың негізгі</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">ұғымдары мен ережелері</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">(қосу және көбейту</p>
                <p style="position: absolute; top: 105px; left: 80px; font-size: 24px;">ережелері)</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.1 - комбинаториканың  ережелерін білу</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">(қосу және көбейту ережелері)</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">9.3.1.2 - cанның факториалы анықтамасын</p>
                <p style="position: absolute; top: 105px; left: 410px; font-size: 24px;">білу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--8-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -6px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">8</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаториканың негізгі</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">ұғымдары мен ережелері</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">(қосу және көбейту</p>
                <p style="position: absolute; top: 105px; left: 80px; font-size: 24px;">ережелері)</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.3 - қайталанбайтын орналастыру,</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">алмастыру  және теру  анықтамаларын</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">білу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--9-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -8px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 25px; font-size: 34px;">9</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаториканың негізгі</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">ұғымдары мен ережелері</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">(қосу және көбейту</p>
                <p style="position: absolute; top: 105px; left: 80px; font-size: 24px;">ережелері)</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.4 - қайталанбайтын орналастыру,</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">алмастыру және теру сандарын есептеу</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">үшін комбинаторика формулаларын білу</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--10-->
            <div style="position: relative; height: 150px; width: 1400px; left: -2px; top: -10px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 15px; font-size: 34px;">10</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Комбинаторика</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">формулаларын қолданып</p>
                <p style="position: absolute; top: 70px; left: 80px; font-size: 24px;">есептер шешу</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.5 - қайталанбайтын орналастыру,</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">алмастыру және теру сандарын есептеу үшін</p>
                <p style="position: absolute; top: 70px; left: 410px; font-size: 24px;">комбинаторика формулаларын қолдана</p>
                <p style="position: absolute; top: 105px; left: 410px; font-size: 24px;">отырып есептер шығару</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
            <!--11-->
            <div style="position: relative; height: 185px; width: 1400px; left: -2px; top: -12px; border: 2px solid black;">
                <p style="position: absolute; top: 0px; left: 15px; font-size: 34px;">11</p>
                <p style="position: absolute; top: px; left: 80px; font-size: 24px;">Ньютон биномы және оның</p>
                <p style="position: absolute; top: 35px; left: 80px; font-size: 24px;">қасиеттері</p>
                <p style="position: absolute; top: 0px; left: 410px; font-size: 24px;">9.3.1.6 - Ньютон биномы формуласын және</p>
                <p style="position: absolute; top: 35px; left: 410px; font-size: 24px;">оның қасиеттерін білу және қолдану</p>
                <p style="position: absolute; top: 0px; left: 1010px; font-size: 34px;">1</p>
                <a class="btn btn-secondary disabled" style="position: absolute; top: 10px; left: 1210px;" role="button" aria-disabled="true">Скачать</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div style="position: relative; top: 250px; background-color: #1226de; width: 100%; height: 200px;">
    <h1 style="position: absolute; top: 20px; left: 420px; color: white; font-weight: bold; font-size: 46px;">Mathem</h1>
    <a href="http://wa.me/77083387108" style="position: absolute; top: 80px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Разработчик</a>
    <a href="http://wa.me/77066652841" style="position: absolute; top: 115px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Администратор</a>
    <a href="{% url 'quiz' %}" style="position: absolute; left: 930px; top: 60px; text-decoration: none; color: #fff; font-size: 20px;">Квиз ойындары</a>
    <a href="{% url 'onlinetaq' %}" style="position: absolute; left: 930px; top: 126px; text-decoration: none; color: #fff; font-size: 20px;">Онлайн тақталар</a>
    <a href="{% url '1' %}" style="position: absolute; left: 930px; top: 27px; text-decoration: none; color: #fff; font-size: 20px;">Басты бет</a>
    <a href="{% url 'synyptar' %}" style="position: absolute; left: 930px; top: 93px; text-decoration: none; color: #fff; font-size: 20px;">Анимация</a>
    <div style="position: relative; top: 15px;">
        <img src="{% static 'main/img/instagram.png' %}" alt="inst" style="width: 30px; position: absolute; top: 18px; left: 1360px;">
        <a href="https://www.instagram.com/mathem.2017?igsh=MTI3Z2p2YzM4NjdsMA==" style="position: relative; top: 15px; left: 1400px; text-decoration: none; color: #fff; font-size: 21px;">mathem.2017</a>
        <img src="{% static 'main/img/tiktok.png' %}" alt="tt" style="width: 45px; position: absolute; top: 55px; left: 1352px;">
        <a href="https://www.tiktok.com/@mathematics_platform?_t=8pFsiXsJ79K&_r=1" style="position: relative; top: 59px; left: 1270px; text-decoration: none; color: #fff; font-size: 21px;">mathem.kz</a>
        <img src="{% static 'main/img/telegram.png' %}" alt="tt" style="width: 38px; position: absolute; top: 100px; left: 1357px;">
        <a href="https://t.me/kzmathemkz" style="position: relative; top: 101px; left: 1165px; text-decoration: none; color: #fff; font-size: 21px;">mathem.chat</a>
    </div>
</div>
{% endblock %}