{% extends 'layout.html' %}
{% load static %}

{% block title %}7 - сынып{% endblock %}

{% block content %}
<style>
        /* Основной контейнер */
        .container {
            display: flex;
            flex-direction: column;
            align-items: center; /* Центрирование по горизонтали */
            justify-content: center; /* Центрирование по вертикали */
            background-color: #1226de;
            width: 1500px;
            height: 150px;
            border-radius: 20px;
            margin-top: 80px;
            position: relative;
        }

        /* Заголовок */
        .title {
            color: #ffffff;
            font-size: 36px; /* Увеличенный размер заголовка */
            margin: 0;
            text-align: center;
        }

        /* Контейнер для элементов в строке */
        .items-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px; /* Отступ между элементами */
            margin-top: 20px;
        }

        /* Блоки с названием предметов */
        .subject-block {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            color: blue;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 2px #ccc;
            height: 35px;
            width: auto; /* Дает возможность блокам растягиваться по содержимому */
        }

        .subject-block p {
            margin: 0;
            font-size: 20px;
        }

        .mainmenu1 {
            position: relative;
            height: 70px;
            width: 1450px;
            background: #ffffff;
            -moz-box-shadow: 0 0 2px #1226de;
            -webkit-box-shadow: 0 0 2px #1226de;
            box-shadow: 0 0 2px #1226de;
            border-radius: 10px 10px 10px 10px;
        }
        .mainmenu2 {
            position: relative;
            height: 70px;
            width: 1450px;
            background: #ffffff;
            -moz-box-shadow: 0 0 2px #7d7d7d;
            -webkit-box-shadow: 0 0 2px #7d7d7d;
            box-shadow: 0 0 2px #7d7d7d;
            border-radius: 10px 10px 10px 10px;
        }
</style>
<div class="container">
    <h1 class="title">7 - сынып</h1>
    <div class="items-container">
        <div class="dropdown">
            <button class="dropbtn" style="background-color: #1226de; color: #ffffff">Пәндер</button>
            <div class="dropdown-content">
                <a href="{% url '7' %}"><li>Алгебра</li></a>
                <a href="{% url '7geo' %}"><li>Геометрия</li></a>
            </div>
        </div>
        <div class="subject-block">
            <p>Алгебра</p>
        </div>
        <div class="subject-block">
            <p>Анимация</p>
        </div>
    </div>
</div>
{% if user.subscribe_date|date:"Y-m-d" >= user.last_login|date:"Y-m-d" %}
<div style="display: flex; flex-direction: column; align-items: stretch; background: #f2f2f2; width: 1330px; height: 1000px; margin: 50px auto; border-radius: 20px; padding: 20px;">
    <p style="font-size: 20px; margin-bottom: 10px;">Барлық анимациялар ашық</p>

    <a href="{% url 'sabaq71' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">1</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">5-6 сыныптардағы математика курсын қайталау</p>
        </div>
    </a>

    <a href="{% url 'sabaq72' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">2</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Натурал көрсеткішті дәреже және оның қасиеттері</p>
        </div>
    </a>

    <a href="{% url 'sabaq73' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">3</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Бүтін көрсеткішті дәреже және оның қасиеттері</p>
        </div>
    </a>

    <a href="{% url 'sabaq74' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">4</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Құрамында дәрежесі бар өрнектерді түрлендіру</p>
        </div>
    </a>

    <a href="{% url 'sabaq77' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">5</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Бірмүшелер және оларға амалдар қолдану. Бірмүшенің дәрежесі және стандарт түрі</p>
        </div>
    </a>

    <a href="{% url 'sabaq712' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">6</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Функция және функцияның графигі</p>
        </div>
    </a>

    <a href="{% url 'sabaq713' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">7</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Сызықтық функция және оның графигі</p>
        </div>
    </a>

    <a href="{% url 'sabaq715' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">8</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Екі айнымалысы бар сызықтық теңдеулер жүйесін графиктік тәсілмен шешу</p>
        </div>
    </a>

    <a href="{% url 'sabaq716' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">9</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">у=ах2, у=ах3 және у=к/х  ( k≠0) түріндегі функциялар, олардың графиктері және қасиеттері</p>
        </div>
    </a>

    <a href="{% url 'sabaq717' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">10</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Вариациялық қатар</p>
        </div>
    </a>
</div>
{% elif user.subscribe_date|date:"Y-m-d" <= user.last_login|date:"Y-m-d" %}
<div style="display: flex; flex-direction: column; align-items: stretch; background: #f2f2f2; width: 1330px; height: 1250px; margin: 50px auto; border-radius: 20px; padding: 20px;">
    <p style="font-size: 20px; margin-bottom: 10px;">Тегін сабақ: 2</p>

    <a href="{% url 'sabaq71' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">1</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">5-6 сыныптардағы математика курсын қайталау</p>
        </div>
    </a>

    <a href="{% url 'sabaq717' %}" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu1" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">2</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Вариациялық қатар</p>
        </div>
    </a>

    <p style="font-size: 20px; margin-top: 30px; margin-bottom: 10px;">Ақылы сабақ: 10</p>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">1</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">5-6 сыныптардағы математика курсын қайталау</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">2</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Натурал көрсеткішті дәреже және оның қасиеттері</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">3</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Бүтін көрсеткішті дәреже және оның қасиеттері</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">4</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Құрамында дәрежесі бар өрнектерді түрлендіру</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">5</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Бірмүшелер және оларға амалдар қолдану. Бірмүшенің дәрежесі және стандарт түрі</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">6</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Функция және функцияның графигі</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">7</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Сызықтық функция және оның графигі</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">8</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Екі айнымалысы бар сызықтық теңдеулер жүйесін графиктік тәсілмен шешу</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">9</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">у=ах2, у=ах3 және у=к/х  ( k≠0) түріндегі функциялар, олардың графиктері және қасиеттері</p>
        </div>
    </a>

    <a href="#" style="text-decoration: none; margin-bottom: 20px;">
        <div class="mainmenu2" style="display: flex; align-items: center; gap: 10px; background: #fff; border-radius: 10px; box-shadow: 0 0 5px #ccc; padding: 10px; width: 100%;">
            <div style="width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: 28px; color: #fff; margin: 0;">10</p>
            </div>
            <p style="font-size: 28px; color: #000; margin: 0;">Вариациялық қатар</p>
        </div>
    </a>
</div>
{% endif %}
<div class="header-container">
    <!-- Первая колонка -->
    <div class="column">
        <h1 class="header-title">Mathem</h1>
        <a href="http://wa.me/77083387108" style="text-decoration: none; color: #fff">Разработчик</a>
        <a href="http://wa.me/77066652841" style="text-decoration: none; color: #fff">Администратор</a>
    </div>

    <!-- Вторая колонка -->
    <div class="nav-links">
        <a href="{% url '1' %}">Басты бет</a>
        <a href="{% url 'synyptar' %}">Анимация</a>
        <a href="{% url 'quiz' %}">Квиз ойындары</a>
        <a href="{% url 'onlinetaq' %}">Онлайн тақталар</a>
    </div>

    <!-- Третья колонка -->
    <div class="social-links">
        <a href="https://www.instagram.com/mathem.2017?igsh=MTI3Z2p2YzM4NjdsMA==">
            <img src="{% static 'main/img/instagram.png' %}" alt="Instagram">
            mathem.2017
        </a>
        <a href="https://www.tiktok.com/@mathematics_platform?_t=8pFsiXsJ79K&_r=1">
            <img src="{% static 'main/img/tiktok.png' %}" alt="TikTok" style="width: 45px;">
            mathem.kz
        </a>
        <a href="https://t.me/kzmathemkz">
            <img src="{% static 'main/img/telegram.png' %}" alt="Telegram" style="width: 35px;">
            mathem.chat
        </a>
    </div>
</div>
{% endblock %}
