{% extends 'layout.html' %}
{% load static %}

{% block title %}Сыныптар{% endblock %}

{% block content %}
<style>
    .mainmenu {
        position: relative;
        height: 320px;
        width: 360px;
        background: #ffffff;
        -moz-box-shadow: 0 0 4px #000;
        -webkit-box-shadow: 0 0 4px #000;
        box-shadow: 0 0 4px #000;
        border-radius: 10px 10px 10px 10px;
        justify-content: space-around;
    }
</style>
<div style="position: relative; top: 0px;">
    <!--1-->
    <div class="mainmenu" style="top: 150px; left: 400px; position: absolute;">
        <a href="{% url 'synyptar' %}" style="text-decoration: none;">
            <img src="{% static 'main/img/Animatia.jpg' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">Анимация</h4>
            <div style="position: relative; top: -100px; left: 70px; width: 235px; height: 60px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px;"></div>
            <h4 style="position: relative; text-decoration: none; top: -150px; left: 85px; color: #fff;font-size: 33px;font-weight: bold;">АНИМАЦИЯ</h4>
        </a>
    </div>
    <!--2-->
    <div class="mainmenu" style="top: 150px; left: 800px; position: absolute;">
        <a href="{% url 'synypsq' %}" style="text-decoration: none;">
            <img src="{% static 'main/img/books1.png' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px; filter: brightness(1.1); filter: contrast(105%);">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">ҚМЖ, ҰМЖ</h4>
            <div style="position: relative; top: -100px; left: 90px; width: 202px; height: 60px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px; filter: brightness(1.1); filter: contrast(105%);"></div>
            <h4 style="position: relative; text-decoration: none; top: -153px; left: 95px; color: #fff;font-size: 34px;font-weight: bold;">ҚМЖ/ҰМЖ</h4>
        </a>
    </div>
    <!--3-->
    <div class="mainmenu" style="top: 150px; left: 1200px; position: absolute;">
        <a href="{% url 'preza' %}" style="text-decoration: none;">
            <img src="{% static 'main/img/prezent.jpg' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">Презентация</h4>
            <div style="position: relative; top: -100px; left: 50px; width: 270px; height: 60px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px; filter: brightness(1.1); filter: contrast(105%);"></div>
            <h4 style="position: relative; text-decoration: none; top: -150px; left: 60px; color: #fff;font-size: 34px;font-weight: bold;">ПРЕЗЕНТАЦИЯ</h4>
        </a>
    </div>
    <!--4-->
    <div class="mainmenu" style="top: 500px; left: 400px; position: absolute;">
        <a href="{% url 'quiz' %}" style="text-decoration: none;">
            <img src="{% static 'main/img/kviz.jpg' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">Квиз ойындары</h4>
        </a>
    </div>
    <!--5-->
    <div class="mainmenu" style="top: 500px; left: 800px; position: absolute;">
        <a href="{% url 'onlinetaq' %}" style="text-decoration: none;">
            <img src="{% static 'main/img/olinetaqta.jpg' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">Онлайн тақталар</h4>
            <div style="position: relative; top: -110px; left: 70px; width: 230px; height: 80px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px;"></div>
            <h4 style="position: relative; text-decoration: none; top: -180px; left: 10px; color: #fff;font-size: 28px;font-weight: bold; text-align: center;">ОНЛАЙН</h4>
            <h4 style="position: relative; text-decoration: none; top: -190px; left: 10px; color: #fff;font-size: 28px;font-weight: bold; text-align: center;">ТАҚТАЛАР</h4>
        </a>
    </div>
    <!--6-->
    <div class="mainmenu" style="top: 500px; left: 1200px; position: absolute;">
        <a href="{% url 'kornekilik' %}" style="text-decoration: none;">
            <img src="{% static 'main/img/classroom.jpg' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">Көрнекіліктер</h4>
            <div style="position: relative; top: -100px; left: 31px; width: 310px; height: 60px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px;"></div>
            <h4 style="position: relative; text-decoration: none; top: -155px; left: 40px; color: #fff;font-size: 38px;font-weight: bold;">КӨРНЕКІЛІКТЕР</h4>
        </a>
    </div>
    <!--7-->
    <div class="mainmenu" style="top: 850px; left: 400px; position: absolute;">
        <a href="#" style="text-decoration: none;">
            <img src="{% static 'main/img/Test-maker.png' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">Тақырыптық тапсырмалар</h4>
            <div style="position: relative; top: -110px; left: 60px; width: 250px; height: 80px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px;"></div>
            <h4 style="position: relative; text-decoration: none; top: -180px; left: 5px; color: #fff;font-size: 28px;font-weight: bold; text-align: center;">ТАҚЫРЫПТЫҚ</h4>
            <h4 style="position: relative; text-decoration: none; top: -190px; left: 5px; color: #fff;font-size: 28px;font-weight: bold; text-align: center;">ТАПСЫРМАЛАР</h4>
        </a>
    </div>
    <!--8-->
    <div class="mainmenu" style="top: 850px; left: 800px; position: absolute;">
        <a href="#" style="text-decoration: none;">
            <img src="{% static 'main/img/olimp.jpg' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">Олимпиада есептері</h4>
            <div style="position: relative; top: -110px; left: 70px; width: 230px; height: 80px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px;"></div>
            <h4 style="position: relative; text-decoration: none; top: -180px; left: 10px; color: #fff;font-size: 28px;font-weight: bold; text-align: center;">ОЛИМПИАДА</h4>
            <h4 style="position: relative; text-decoration: none; top: -190px; left: 10px; color: #fff;font-size: 28px;font-weight: bold; text-align: center;">ЕСЕПТЕРІ</h4>
        </a>
    </div>
    <!--9-->
    <div class="mainmenu" style="top: 850px; left: 1200px; position: absolute;">
        <a href="#" style="text-decoration: none;">
            <img src="{% static 'main/img/books2.jpg' %}" alt="books" style="position: relative; width: 350px; left: 5px; top: 70px;border-radius: 10px 10px 10px 10px;">
            <h4 style="position: relative; top: -200px; left: 10px; color: #000; -webkit-text-stroke: 0.5px #000;">БЖБ, ТЖБ</h4>
            <div style="position: relative; top: -100px; left: 91px; width: 200px; height: 60px; background: #000; opacity: 0.7; border-radius: 10px 10px 10px 10px; filter: brightness(1.1); filter: contrast(105%);"></div>
            <h4 style="position: relative; text-decoration: none; top: -153px; left: 97px; color: #fff;font-size: 38px;font-weight: bold;">БЖБ/ТЖБ</h4>
        </a>
    </div>
</div>
<div style="position: relative; top: 1250px; background-color: #1226de; width: 100%; height: 200px;">
    <h1 style="position: absolute; top: 20px; left: 420px; color: white; font-weight: bold; font-size: 46px;">Mathem</h1>
    <a href="http://wa.me/77083387108" style="position: absolute; top: 80px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Разработчик</a>
    <a href="http://wa.me/77066652841" style="position: absolute; top: 115px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Администратор</a>
    <a href="{% url 'quiz' %}" style="position: absolute; left: 930px; top: 60px; text-decoration: none; color: #fff; font-size: 20px;">Квиз ойындары</a>
    <a href="{% url 'onlinetaq' %}" style="position: absolute; left: 930px; top: 126px; text-decoration: none; color: #fff; font-size: 20px;">Онлайн тақталар</a>
    <a href="{% url '1' %}" style="position: absolute; left: 930px; top: 27px; text-decoration: none; color: #fff; font-size: 20px;">Басты бет</a>
    <a href="{% url 'synyptar' %}" style="position: absolute; left: 930px; top: 93px; text-decoration: none; color: #fff; font-size: 20px;">Анимация</a>
    <div style="position: relative; top: 15px;">
        <img src="{% static 'main/img/instagram.png' %}" alt="inst" style="width: 30px; position: absolute; top: 18px; left: 1360px;">
        <a href="https://www.instagram.com/mathem.2017?igsh=MTI3Z2p2YzM4NjdsMA==" style="position: relative; top: 15px; left: 1400px; text-decoration: none; color: #fff; font-size: 21px;">mathem.2017</a>
        <img src="{% static 'main/img/tiktok.png' %}" alt="tt" style="width: 45px; position: absolute; top: 55px; left: 1352px;">
        <a href="https://www.tiktok.com/@mathematics_platform?_t=8pFsiXsJ79K&_r=1" style="position: relative; top: 59px; left: 1270px; text-decoration: none; color: #fff; font-size: 21px;">mathem.kz</a>
        <img src="{% static 'main/img/telegram.png' %}" alt="tt" style="width: 38px; position: absolute; top: 100px; left: 1357px;">
        <a href="https://t.me/kzmathemkz" style="position: relative; top: 101px; left: 1165px; text-decoration: none; color: #fff; font-size: 21px;">mathem.chat</a>
    </div>
</div>
{% endblock %}