{% extends 'empty.html' %}
{% load static %}

{% block title %}Сыныптар{% endblock %}

{% block content %}
<div style="position: relative; top: -50px;">
    <div style="position: relative; background-color: #f2f2f2; width: 1000px; height: 800px; top: 100px; left: 450px; border-radius: 30px 30px 30px 30px; text-align: center;"><h1 style="position: relative; top: 20px;">Көрнекілік</h1></div>
    <a class="btn btn-outline-primary" href="{% url '1' %}" style="position: absolute; top: 130px; left: 470px;">Артқа</a>
    <!--11-->
    <div class="card" style="width: 18rem; position: absolute; top: 200px; left: 470px;">
        <div class="card-body">
            <h5 class="card-title">11 сынып</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
    <!--10-->
    <div class="card" style="width: 18rem; position: absolute; top: 200px; left: 790px;">
        <div class="card-body">
            <h5 class="card-title">10 сынып</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
    <!--9-->
    <div class="card" style="width: 18rem; position: absolute; top: 200px; left: 1120px;">
        <div class="card-body">
            <h5 class="card-title">9 сынып</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
    <!--8-->
    <div class="card" style="width: 18rem; position: absolute; top: 420px; left: 470px;">
        <div class="card-body">
            <h5 class="card-title">8 сынып</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
    <!--7-->
    <div class="card" style="width: 18rem; position: absolute; top: 420px; left: 790px;">
        <div class="card-body">
            <h5 class="card-title">7 сынып</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
    <!--6-->
    <div class="card" style="width: 18rem; position: absolute; top: 420px; left: 1120px;">
        <div class="card-body">
            <h5 class="card-title">6 сынып</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
    <!--5-->
    <div class="card" style="width: 18rem; position: absolute; top: 640px; left: 470px;">
        <div class="card-body">
            <h5 class="card-title">5 сынып</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
    <!--Бастауыш-->
    <div class="card" style="width: 18rem; position: absolute; top: 640px; left: 790px;">
        <div class="card-body">
            <h5 class="card-title">Бастауыш</h5>
            <p class="card-text">Егер сіз осы сыныпты сатып алған болмасаңыз, онда сіз үшін тегін материалдар бар.</p>
            <a class="btn btn-secondary disabled" role="button" aria-disabled="true">кіру</a>
        </div>
    </div>
</div>
{% endblock %}
