{% extends 'empty.html' %}
{% load static %}

{% block title %}Басты бет{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
    body {
    background-image: url("/static/main/img/math0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<body style="margin-top: 230px;">
    <div class="container" style="align-items: center; flex-direction: column; text-align: center; display: flex; font-size: 23px;color: #fff; text-shadow: #000 1px 0 10px;">
        <h1 style="margin-bottom: 20px;">Маthem.2017</h1>
        <p>Математиктер (бастауыш және жоғарғы сынып) платформасы. Сіздің мектептегі жұмысыңызға қажет материалдардың барлығы, тақырып бойынша бөлініп ыңғайлы етіп қойылған.</p>
        <div style="margin-top: 20px; width: 200px; height: 60px; display: flex; text-align: center; align-items: center; justify-content: center; text-decoration: none; border: 2px solid blue;border-radius: 30px 30px 30px 30px;">
            <a href="{% url '1' %}" style="font-size: 20px;text-decoration: none;">Кіру</a>
        </div>
    </div>
</body>
{% else %}
<style>
    body {
    background-image: url("/static/main/img/math0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<body style="margin-top: 230px;">
    <div class="container" style="align-items: center; flex-direction: column; text-align: center; display: flex; font-size: 23px;color: #fff; text-shadow: #000 1px 0 10px;">
        <h1 style="margin-bottom: 20px;">Маthem.2017</h1>
        <p>Математиктер (бастауыш және жоғарғы сынып) платформасы. Сіздің мектептегі жұмысыңызға қажет материалдардың барлығы, тақырып бойынша бөлініп ыңғайлы етіп қойылған.</p>
        <div style="margin-top: 20px; width: 200px; height: 60px; display: flex; text-align: center; align-items: center; justify-content: center; text-decoration: none; border: 2px solid blue;border-radius: 30px 30px 30px 30px;">
            <a href="{% url 'login' %}" style="font-size: 20px;text-decoration: none;">Кіру</a>
        </div>
    </div>
</body>
{% endif %}
{% endblock %}