{% extends 'empty.html' %}
{% load static %}

{% block title %}Удалить квиз{% endblock %}

{% block content %}
{% if user.first_name == "quiz"%}
    <div class="features">
        <h1 style="margin-left: 42%; margin-top: 50px;">Удалить квиз</h1>

        <form method="post" style="margin-left: 32%; width: 500px; margin-top: 50px;">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit" style="margin-left: 50%;">Удалить квиз</button>
        </form>
    </div>
{% endif %}
{% endblock %}