{% extends 'layout.html' %}
{% load static %}

{% block title %}3 - сынып{% endblock %}

{% block content %}
<style>
    .mainmenu1 {
        position: relative;
        height: 70px;
        width: 1450px;
        background: #ffffff;
        -moz-box-shadow: 0 0 2px #1226de;
        -webkit-box-shadow: 0 0 2px #1226de;
        box-shadow: 0 0 2px #1226de;
        border-radius: 10px 10px 10px 10px;
    }
    .mainmenu2 {
        position: relative;
        height: 70px;
        width: 1450px;
        background: #ffffff;
        -moz-box-shadow: 0 0 2px #7d7d7d;
        -webkit-box-shadow: 0 0 2px #7d7d7d;
        box-shadow: 0 0 2px #7d7d7d;
        border-radius: 10px 10px 10px 10px;
    }
</style>
<div style="position: relative; width: 1500px; height: 150px; top: 140px; left: 225px; background-color: #1226de; border-radius: 20px 20px 20px 20px;">
    <h1 style="position: absolute; top: 20px; left: 700px; color: #ffffff;">3 - сынып</h1>
    <div class="dropdown" style="position: relative; top: 50px; left: 20px; list-style: none;">
        <button class="dropbtn" style="background-color: #1226de; color: #ffffff">Пәндер</button>
        <div class="dropdown-content">
            <a href="{% url '3' %}"><li>Математика</li></a>
        </div>
    </div>
    <div style="position: relative; width: 140px; height: 35px; background-color: #ffffff; top: 7px; left: 190px; border-radius: 10px 10px 10px 10px;">
        <p style="position: relative; top: 2px; left: 13px; font-size: 20px; color: blue">Математика</p>
    </div>
    <div style="position: relative; width: 125px; height: 35px; background-color: #ffffff; top: -28px; left: 390px; border-radius: 10px 10px 10px 10px;">
        <p style="position: relative; top: 2px; left: 15px; font-size: 20px; color: blue; text-decoration: none;">Анимация</p>
    </div>
</div>
{% if user.subscribe_date|date:"Y-m-d" >= user.last_login|date:"Y-m-d" %}
    <div style="position: relative; top: 170px; left: 225px; height: 630px; width: 1500px; background: #f2f2f2; border-radius: 20px 20px 20px 20px;">
        <p style="position: relative; top: 20px; left: 20px; font-size: 20px;">Барлық анимациялар ашық</p>
    <!--    1-->
        <a href="{% url 'sabaq31' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 30px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">1</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">1000 көлеміндегі сандар. Қосу және азайту</p>
            </div>
        </a>
    <!--    2-->
        <a href="{% url 'sabaq32' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 40px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">2</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Үш таңбалы сандарды ауызша қосу және азайту</p>
            </div>
        </a>
    <!--    3-->
        <a href="{% url 'sabaq33' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 50px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">3</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Көбейту және бөлу амалдарын орындаудағы 1 санының қасиеті</p>
            </div>
        </a>
    <!--    4-->
        <a href="{% url 'sabaq34' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 60px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">4</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">6 санына көбейту және бөлу кестесі. Жанама сұрақтармен берілген есептер</p>
            </div>
        </a>
    <!--    5-->
        <a href="{% url 'sabaq35' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 70px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">5</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Көбейту кестесін бекіту. Жанама сұрақтармен берілген есептерді шығару</p>
            </div>
        </a>
    <!--    6-->
        <a href="{% url 'sabaq36' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 80px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">6</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Тіктөртбұрыш пен шаршының ауданын табу</p>
            </div>
        </a>
    </div>
{% elif user.subscribe_date|date:"Y-m-d" <= user.last_login|date:"Y-m-d" %}
    <div style="position: relative; top: 170px; left: 225px; height: 800px; width: 1500px; background: #f2f2f2; border-radius: 20px 20px 20px 20px;">
        <p style="position: relative; top: 15px; left: 20px; font-size: 20px;">Тегін сабақ: 2</p>
    <!--    1-->
        <a href="{% url 'sabaq31' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 10px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">1</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">1000 көлеміндегі сандар. Қосу және азайту</p>
            </div>
        </a>
    <!--    2-->
        <a href="{% url 'sabaq32' %}" style="text-decoration: none;">
            <div class="mainmenu1" style="position: relative; top: 20px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #1226de; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">2</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Үш таңбалы сандарды ауызша қосу және азайту</p>
            </div>
        </a>
        <p style="position: relative; top: 30px; left: 23px; font-size: 20px;">Ақылы сабақ: 6</p>
    <!--    1-->
        <a href="#" style="text-decoration: none;">
            <div class="mainmenu2" style="position: relative; top: 30px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">1</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">1000 көлеміндегі сандар. Қосу және азайту</p>
            </div>
        </a>
    <!--    2-->
        <a href="#" style="text-decoration: none;">
            <div class="mainmenu2" style="position: relative; top: 40px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">2</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Үш таңбалы сандарды ауызша қосу және азайту</p>
            </div>
        </a>
    <!--    3-->
        <a href="#" style="text-decoration: none;">
            <div class="mainmenu2" style="position: relative; top: 50px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">3</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Көбейту және бөлу амалдарын орындаудағы 1 санының қасиеті</p>
            </div>
        </a>
    <!--    4-->
        <a href="#" style="text-decoration: none;">
            <div class="mainmenu2" style="position: relative; top: 60px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">4</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">6 санына көбейту және бөлу кестесі. Жанама сұрақтармен берілген есептер</p>
            </div>
        </a>
    <!--    5-->
        <a href="#" style="text-decoration: none;">
            <div class="mainmenu2" style="position: relative; top: 70px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">5</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Көбейту кестесін бекіту. Жанама сұрақтармен берілген есептерді шығару</p>
            </div>
        </a>
    <!--    6-->
        <a href="#" style="text-decoration: none;">
            <div class="mainmenu2" style="position: relative; top: 80px; left: 20px;">
                <div style="position: relative; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #7d7d7d; border-radius: 50%; -moz-box-shadow: 0 0 2px #000; -webkit-box-shadow: 0 0 2px #000; box-shadow: 0 0 2px #000; text-align: center;">
                    <p style="position: relative; top: 5px; font-size: 28px; color: #fff;">6</p>
                </div>
                <p style="position: relative; top: -35px; left: 80px; color: #000; font-size: 28px;">Тіктөртбұрыш пен шаршының ауданын табу</p>
            </div>
        </a>
    </div>
{% endif %}
<div style="position: relative; top: 250px; background-color: #1226de; width: 100%; height: 200px;">
    <h1 style="position: absolute; top: 20px; left: 420px; color: white; font-weight: bold; font-size: 46px;">Mathem</h1>
    <a href="http://wa.me/77083387108" style="position: absolute; top: 80px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Разработчик</a>
    <a href="http://wa.me/77066652841" style="position: absolute; top: 115px; left: 422px; color: white; text-decoration: none; font-size: 20px;">Администратор</a>
    <a href="{% url 'quiz' %}" style="position: absolute; left: 930px; top: 60px; text-decoration: none; color: #fff; font-size: 20px;">Квиз ойындары</a>
    <a href="{% url 'onlinetaq' %}" style="position: absolute; left: 930px; top: 126px; text-decoration: none; color: #fff; font-size: 20px;">Онлайн тақталар</a>
    <a href="{% url '1' %}" style="position: absolute; left: 930px; top: 27px; text-decoration: none; color: #fff; font-size: 20px;">Басты бет</a>
    <a href="{% url 'synyptar' %}" style="position: absolute; left: 930px; top: 93px; text-decoration: none; color: #fff; font-size: 20px;">Анимация</a>
    <div style="position: relative; top: 15px;">
        <img src="{% static 'main/img/instagram.png' %}" alt="inst" style="width: 30px; position: absolute; top: 18px; left: 1360px;">
        <a href="https://www.instagram.com/mathem.2017?igsh=MTI3Z2p2YzM4NjdsMA==" style="position: relative; top: 15px; left: 1400px; text-decoration: none; color: #fff; font-size: 21px;">mathem.2017</a>
        <img src="{% static 'main/img/tiktok.png' %}" alt="tt" style="width: 45px; position: absolute; top: 55px; left: 1352px;">
        <a href="https://www.tiktok.com/@mathematics_platform?_t=8pFsiXsJ79K&_r=1" style="position: relative; top: 59px; left: 1270px; text-decoration: none; color: #fff; font-size: 21px;">mathem.kz</a>
        <img src="{% static 'main/img/telegram.png' %}" alt="tt" style="width: 38px; position: absolute; top: 100px; left: 1357px;">
        <a href="https://t.me/kzmathemkz" style="position: relative; top: 101px; left: 1165px; text-decoration: none; color: #fff; font-size: 21px;">mathem.chat</a>
    </div>
</div>
{% endblock %}